<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}" />
	<property name="LOG_CHARSET" value="utf8" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<logger name="root" level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.springframework" level="ERROR" />
	<logger name="com.cloud.kpi.service" level="DEBUG" />

</configuration>